A {
	COLOR: #134282; TEXT-DECORATION: underline
}
A:active {
	COLOR: #000000; TEXT-DECORATION: none
}
A:visited {
	FONT-STYLE: normal; TEXT-DECORATION: none
}
A:hover {
	COLOR: #db6709; TEXT-DECORATION: underline
}
A.tiny {
	COLOR: black; TEXT-DECORATION: none
}
H2 A.tiny {
	COLOR: #134282; TEXT-DECORATION: none
}
A.tiny:hover {
	COLOR: black; TEXT-DECORATION: none
}
BODY {
	BACKGROUND: white; COLOR: black; FONT-SIZE: 10pt
}
P {
	FONT-FAMILY: Verdana; FONT-SIZE: 10pt
}
TABLE P {
	FONT-FAMILY: Verdana; FONT-SIZE: 10pt
}
TABLE {
	FONT-FAMILY: Verdana; FONT-SIZE: 10pt; LINE-HEIGHT: 120%
}
TD {
	FONT-FAMILY: Verdana; FONT-SIZE: 10pt
}
.std {
	FONT-FAMILY: Verdana; FONT-SIZE: 10pt
}
.tiny {
	FONT-FAMILY: Verdana; FONT-SIZE: 8pt
}
TABLE.tiny {
	FONT-FAMILY: Verdana; FONT-SIZE: 8pt
}
TABLE.sidebar {
	FONT-FAMILY: Verdana; FONT-SIZE: 8pt; FONT-WEIGHT: normal
}
SELECT.filter {
	COLOR: #134282; FONT-FAMILY: Verdana,Geneva; FONT-SIZE: xx-small
}
.tb {
	FONT-SIZE: 8pt; FONT-STYLE: normal; TEXT-DECORATION: none
}
A.tb:hover {
	COLOR: black; TEXT-DECORATION: none
}
.small {
	FONT-SIZE: 80%; LINE-HEIGHT: 1.5em
}
.small INPUT {
	COLOR: #134282; FONT-FAMILY: Verdana, Arial, Sans-Serif, Geneva; FONT-SIZE: 100%
}
.tiny {
	FONT-FAMILY: Verdana; FONT-SIZE: 8pt; LINE-HEIGHT: 150%
}
TD.tiny {
	FONT-FAMILY: Verdana; FONT-SIZE: 8pt; LINE-HEIGHT: 150%
}
TABLE.tiny {
	FONT-FAMILY: Verdana,Arial; FONT-SIZE: 8pt; LINE-HEIGHT: 150%
}
.tiny INPUT {
	BACKGROUND-COLOR: #dfdfdf; BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BORDER-RIGHT: 0px; BORDER-TOP: 0px; COLOR: black; FONT-SIZE: 95%; FONT-WEIGHT: bold; PADDING-BOTTOM: 3px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; PADDING-TOP: 3px
}
FORM {
	MARGIN-BOTTOM: 0px
}
.tiny FORM {
	BACKGROUND-COLOR: black; MARGIN: 0px
}
H1 {
	COLOR: #134282; FONT-FAMILY: Verdana; FONT-SIZE: 12pt; FONT-WEIGHT: bold; LETTER-SPACING: 0.1em
}
H2 {
	BORDER-BOTTOM: black 0.1em solid; COLOR: black; FONT-FAMILY: Verdana,Arial,Geneva; FONT-SIZE: 10pt; FONT-WEIGHT: bold; LETTER-SPACING: 0.1em; MARGIN-BOTTOM: 0.2em
}
H3 {
	COLOR: black; FONT-FAMILY: Verdana; FONT-SIZE: 10pt; FONT-STYLE: italic; FONT-WEIGHT: bold; MARGIN-BOTTOM: 0.2em
}
H4 {
	COLOR: black; FONT-FAMILY: Verdana; FONT-SIZE: 10pt; FONT-WEIGHT: bold; MARGIN-BOTTOM: 0.2em
}
INPUT {
	COLOR: #134282; FONT-SIZE: 10pt
}
PRE {
	FONT-FAMILY: Courier New; FONT-SIZE: 10pt
}
TT {
	FONT-FAMILY: Courier New; FONT-SIZE: 10pt
}
IMG.diagram {
	FLOAT: none; MARGIN: 5px
}
.newsinfo {
	BACKGROUND-COLOR: #eeeeee; FONT-FAMILY: Verdana,Arial,Sans-Serif,Geneva; FONT-SIZE: x-small; PADDING-LEFT: 5px
}
HR {
	COLOR: black
}
IMG {
	BORDER-BOTTOM-COLOR: black; BORDER-LEFT-COLOR: black; BORDER-RIGHT-COLOR: black; BORDER-TOP-COLOR: black
}
